<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>KC_CORE</display-name>
	<filter>
		<filter-name>ControFilter</filter-name>
		<filter-class>net.rails.web.ControFilter</filter-class>
	</filter>
	<listener>
      <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
	</listener>
	<filter-mapping>
		<filter-name>ControFilter</filter-name>
		<url-pattern>*</url-pattern>
		 <dispatcher>REQUEST</dispatcher>
	     <dispatcher>FORWARD</dispatcher> 
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<session-config>
	    <session-timeout>60</session-timeout>
	</session-config>
</web-app>